#page-title {
  text-align: center;
  padding: 1em;
}

h2.titles {
  text-align: center;
}

div.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4em;
}

ul.playlists-list {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
}

li.playlists-list-item {
  padding: 3px;
}

input.checkbox-item {
  margin-right: 7px;
}

.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

button.submit-btn {
  display: flex;
  align-self: flex-end;
}

.topsongs-container {
  width: 80%;
}

.track-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 70px;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 90px;
}

.track-row:hover {
  background-color: #282828;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 90px;
}

.rank-number {
  width: 15px;
  margin-right: 25px;
}

.album-cover {
  width: 100px;
  margin-right: 5px;
}

.album-cover-img {
  height: 64px;
  width: 64px;
}

.track {
  width: 400px;
  margin-right: 25px;
}

.track-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.track-artist {
  color: #b3b3b3;
}

div.topsongs-list-wrapper {
  width: fit-content;
  height: fit-content;
  padding: 1em;
}

div.topsongs-list-wrapper:hover {

}
