h2.titles {
  text-align: center;
}

div.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4em;
  margin-top: 3em;
}

ul.playlists-list {
  list-style: none;
  width: auto;
}

ul.playlists-list li.playlists-list-item {
  float: left;
}

li.playlists-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  padding-left: 0;
  margin: 10px;
  width: 300px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  transition: background-color 0.3s ease 0s
}

input.checkbox-item {
  margin-right: 7px;
  display: none;
}

input:checked + label {
  color: red;
}

li.playlists-list-item > input:checked + label {
  background-color: blue;
}

.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

button.submit-btn {
  display: flex;
  align-self: flex-end;
}

.topsongs-container {
  width: 80%;
}

.track-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 70px;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 90px;
}

.track-row:hover {
  background-color: #282828;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 90px;
}

.rank-number {
  width: 15px;
  margin-right: 25px;
}

.album-cover {
  width: 100px;
  margin-right: 5px;
}

.album-cover-img {
  height: 60px;
  width: 60px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.track {
  width: 400px;
  margin-right: 25px;
}

.track-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.track-artist {
  color: #b3b3b3;
}

div.topsongs-list-wrapper {
  width: fit-content;
  height: fit-content;
  padding: 1em;
}

.playlist-name {
  font-size: 18px;
  font-weight: 500;
  padding-left: 1em;
}
