#display-name {
  margin: 0px;
  font-weight: 600;
  font-size: 18px;
}

.profile-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.profile-img {
  height: 63px;
  width: 40px;
}

.profile-img-wrapper {
  display: inline-block; 
  position: relative; 
  width: 36px; 
  height: 36px; 
  overflow: hidden; 
  border-radius: 50%; 
  margin: 15px;
}

.egghead-wrapper {
  display: inline-block; 
  position: relative; 
  width: 36px; 
  height: 36px; 
  overflow: hidden; 
  border-radius: 50%; 
  margin: 15px;
  padding-top: 3px;
}

.profile-img-wrapper img {
  margin-top: -5px;
}

