#app-header {
  text-align: center;
  margin-top: 10px;
}

.profile-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-img {
  height: 100px;
  width: 65px;
}

.profile-img-wrapper {
  display: inline-block; 
  position: relative; 
  width: 60px; 
  height: 60px; 
  overflow: hidden; 
  border-radius: 50%; 
  margin: 15px;
}

.profile-img-wrapper img {
  margin-top: -5px;
}
